*{
    padding: 0;
    margin: 0;
}
body{

    background-color: rgb(1, 1, 31);
}
h1{
    text-align: center;
    background-color: rgb(144, 212, 144);
    padding: 20px;
}
nav ul {
    background-color: cyan;
    width: 100%;
    list-style-type: style none;
    text-align: center;
}
nav li{
    display: inline-flex;
}
nav a{
    text-decoration: none;
    color: rgb(2, 2, 2);
    padding: 10px;
    width: 150px;
}
nav li :hover{
    background-color: rgb(144, 212, 144);

}
img{
    width: 700px;
    height: 500px;
    
}
.menu secundario{ //es la parte de registro
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-registro{
    width: 300px;
    background: red;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
}
.controls{
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
}
.dogs{
    width: 400px;
    height: 400px;
}
.edadperros{
    color: white;
}
footer{
    width: 100%;
    height: 200%;
    background-color: orange;
    color: white;
    margin-top: 80px;
}
footer p{
    text-align: center;
    padding: 50px;
}